[submodule "kicad"]
	path = kicad
	url = ../trion-lqfp144-test
	branch = sdram_test_v2
[submodule "firmware/modules/mecatica-usb"]
	path = firmware/modules/mecatica-usb
	url = ../mecatica-usb
[submodule "firmware/modules/acm-toolbox"]
	path = firmware/modules/acm-toolbox
	url = ../usbadc-support
	branch = sample_buf
[submodule "firmware/modules/eth-rmii-mac"]
	path = firmware/modules/eth-rmii-mac
	url = ../eth-rmii-mac.git
